@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#html{
    text-align: left;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
}

#css{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: red;
    font-style: normal;
}

#js{
    color: green;
    text-align: right;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
